.gradient-custom2 {
    /* fallback for old browsers */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/senwell-fasteners/o/newsletter.webp?alt=media&token=690b1e00-c223-4f45-a062-9b750c5df4ba");
    background-size: cover;
    background-position: center;
   
    }